<h1>index.vtl</h1>

<h1>Address Book</h1>
<form action="/contacts" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" id="firstName">
  <button type="submit" class="btn btn-success"></button>
</form>
